body, textarea {
  font-family: Arial;
  line-height: 1.4;
  font-size: 16px;
}
textarea {
  width: 100%;
  padding: 12px
}
li {
    font-size: 13px;
    color: gray;
}
h5 { margin-bottom: 0; }
.correct { color: green; }
.correct:last-child, .incorrect:last-child { border-right: .15rem solid black; }
.incorrect { color: red; }
.bold { font-weight: bold; }
#display-text { padding: 16px; }
.max-width-800 {
  max-width: 800px;
  margin: 0 auto;
}
.max-width-1000 {
  max-width: 1000px;
  margin: 0 auto;
}
.max-width-1200 {
  max-width: 1200px;
  margin: 0 auto;
}
.zoom-1 { zoom: 1; }
.zoom-1-25 { zoom: 1.25; }
.zoom-1-5 { zoom: 1.5; }
.zoom-2 { zoom: 2; }